<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>    
</head>
<body>
    <%- include('../partials/adminHeader.ejs') %>
    <div class="container-fluid">
        <h2><%= title %></h2>
        <main>
        </main>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
