<audio id="player" src="http://147.95.18.81:8000/live"></audio>
    <div class="player">
      <div class="control">
        <i class="fas fa-play" id="playbtn"></i>
      </div>
      <div class="info">
        #
        <div class="bar">
          <div id="progress"></div>
        </div>
      </div>

      <div id="current">0:00</div>
    </div>

    