<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="py-5">
        <section class="container my-5">
            <div class="mx-auto text-center">
                <h2 class="h1 mb-5"><%= title %></h2>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
</body>
</html>
