<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>    
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main class="mt-2 mb-2">
        <%- include('./partials/musicplayer.ejs') %>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/player.js"></script>
    <script src="/js/vendors/bootstrap.bundle.min.js"></script>
</body>
</html>
