<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>    
</head>

<body>
    <h1 class="visually-hidden"><%= title %></h1>
    <div class="wrapper">
        <%- include('./partials/header.ejs') %>
        <section>
            <div class="hero">
                <div class="hero-text">
                    <h1>I am John Doe</h1>
                    <p>And I'm a Photographer</p>
                    <button>Hire me</button>
                </div>
            </div>
        </section>
        
        <div class="push"></div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>