<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container my-5">
            <div class="mx-auto sm-form">
                <h2 class="h1 mb-5">Login</h2>
                <form method="POST" action="/login">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="e.g. email@gmail.com">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password">
                    </div>
                    <button class="btn btn-primary mb-3">Login</button>
                    <p><a href="/recover_password">Forgot password</a></p>
                </form>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
