<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <section class="container my-5">
            <div class="mx-auto sm-form box-shadow">
                <h2 class="h1 mb-4">Register</h2>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <input type="text" name="username" class="form-field" id="username" placeholder="Username">
                        <label for="username" class="form-label">Username</label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="firstName" class="form-field" id="firstName" placeholder="First name">
                        <label for="firstName" class="form-label">First name</label>
                    </div>
                    <div class="form-group">
                        <input type="text" name="lastName" class="form-field" id="lastName" placeholder="Last name">
                        <label for="lastName" class="form-label">Last name</label>
                    </div>
                    <div class="form-group">
                        <input type="tel" name="mobilePhone" class="form-field" id="mobilePhone" placeholder="Mobile phone">
                        <label for="mobilePhone" class="form-label">Mobile phone</label>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-field" id="email" placeholder="Email" required>
                        <label for="email" class="form-label">Email Address</label>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-field" id="password" placeholder="Password" required>
                        <label for="password" class="form-label">Password</label>
                    </div>
                    <div class="form-group">
                        <input type="password" name="confirmPassword" class="form-field" id="confirmPassword" placeholder="Confirm password" required>
                        <label for="confirmPassword" class="form-label">Confirm Password</label>
                    </div>
                    <div class="form-group">
                        <select name="role" class="form-select-field" placeholder="Role">
                            <option value="basic" selected>Basic</option>
                            <option value="author">Author</option>
                            <option value="editor">Editor (ΔΣ / ΡΟΗ)</option>
                            <option value="admin">Admin</option>
                        </select>
                        <label for="role" class="form-label">Role</label>
                    </div>
                    <button id="submit" class="btn btn-primary mb-3">Register</button>
                    <p>Or <a href="/admin">Log in</a></p>
                </form>
            </div>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/request.js"></script>
</body>
</html>
