<!-- Modal -->
<div class="modal fade" id="producerStatusModal" tabindex="-1" aria-labelledby="producerStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="producerStatusModalLabel">Producer Status</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4 id="producerStatusTag"></h4>
          <div class="form-check form-switch">
            <input class="form-check-input status-switch" type="checkbox" id="isActive">
            <label class="form-check-label" for="isActive">Active status</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input status-switch" type="checkbox" id="isVisible">
            <label class="form-check-label" for="isVisible">Public Visibility</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="isVerified" disabled>
            <label class="form-check-label" for="isVerified">Verified Producer</label>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>