.sm-form {
    max-width: 650px;
    padding: 45px 20px;
}

.form-group {
    position: relative;
    padding: 15px 0 0;
    margin-bottom: 20px;
}
  
.form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $secondary;
    outline: 0;
    color: $secondary;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &:focus {
        ~ .form-label {
            position: absolute;
            top: 0;
            transition: 0.2s;
            color: $primary;
            font-weight:700;    
        }
        padding-bottom: 6px;  
        font-weight: 700;
        border-width: 3px;
        border-image: linear-gradient(to right, $primary, $secondary);
        border-image-slice: 1;
    }
  
    &::placeholder {
        color: transparent;
    }
  
    &:placeholder-shown ~ .form-label {
        cursor: text;
        top: 20px;
    }

    &:required, &:invalid { box-shadow:none; }
}
  
.form-label {
    position: absolute;
    top: -5px;
    display: block;
    transition: top 0.2s;
    color: $secondary;
}

.disabled-field {
    background-color: #f4f4f4;
}

.avatar-uploader {
    @extend .fas; // for font awsome use in ::after

    position: relative;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    font-size: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    transition: box-shadow, 0.2s;

    &::before {
        content: '';
        color: $white;
        font-weight: 700;
        font-family: $font-family-base;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: fa-content($fa-var-file-upload);
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 15px;
        padding-left: 5px;
        background-color: #ececec;;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    &:hover {
        &::before {
            content: 'Upload image';
        }
        box-shadow: inset 0 0 240px rgba(0,0,0,.75);
    }
}

.fileInput {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
