.box-shadow {
    box-shadow: 0 3px 3px rgba(0,0,0,.07);
}

.collapseTrigger {
    position: relative;
    padding-right: 20px;
    display: inline-block;

    &::after {
        @extend .fas; // for font awsome use in ::after
        content: fa-content($fa-var-angle-right);
        position: absolute;
        right: 0px;
        top: 5px;
        transition: rotate, .2s;
        transform: rotate(90deg);
    }

    &.collapsed {
        &::after {
            transform: rotate(0);
        }
    }
}

.admin-header {
    background-color: $orange-500;
    color: $white;
}

.editor-header {
    background-color: $cyan-500;
    color: $white;
}

.author-header {
    background-color: $indigo-500;
    color: $white;
}

.basic-header {
    background-color: $green-500;
    color: $white;
}
