.content-wrapper {
    background-color: #fff;
    padding: 20px 25px;
    border-radius: 3px;
}

.content-title {
    background-color: $primary;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}

.fm1-td {
    vertical-align: middle;
}

.action-click {
    margin-right: 10px;
    font-size: 18px;
}

.status {
    font-size: 10px;
    margin-right: 5px;
}