<div class="row py-5">
    <% if(users.admins && users.admins.length > 0) { %>
        <div class="col-12">
            <h2>Admins</h2>
            <div class="row">
                <% users.admins.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <% if(users.editors && users.editors.length > 0) { %>
        <div class="col-12">
            <h2>Editors</h2>
            <div class="row">
                <% users.editors.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <% if(users.authors && users.authors.length > 0) { %>
        <div class="col-12">
            <h2>Authors</h2>
            <div class="row">
                <% users.authors.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <% if(users.basics && users.basics.length > 0) { %>
        <div class="col-12">
            <h2>Basic</h2>
            <div class="row">
                <% users.basics.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>