<div class="row py-5">
    <% if(users.active && users.active.length > 0) { %>
        <div class="col-12">
            <h2>Active producers</h2>
            <div class="row">
                <% users.active.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
    <% if(users.inactive && users.inactive.length > 0) { %>
        <div class="col-12">
            <h2>Inactive</h2>
            <div class="row">
                <% users.inactive.forEach(user => { %>
                    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
                        <%= user.profile.firstName %>
                    </div>
                <% }) %>
            </div>
        </div>
    <% } %>
</div>